<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml" />
    <springProperty name="logfile" source="my.application.logfileName"/>

    <root level="INFO">
        <appender name="logFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>./${logfile}.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <!-- daily rollover -->
                <fileNamePattern>/tmp/logs/timeBasedlogFile.%d{yyyy-MM-dd-HH-mm}.log</fileNamePattern>
                <maxHistory>30</maxHistory>
            </rollingPolicy>

            <encoder>
                <pattern>%relative [%thread] %-5level %logger{35} - %msg%n</pattern>
            </encoder>
        </appender>
    </root>
</configuration>